$primary : white;
$secondary : #f5f5f5;
$secondary-hover : #ebebeb;
$background : white;
$icon : #888888;
$grey: #888888;
$dark: rgb(20, 20, 20);
$red: #ff0002;
$header-nav-height: 64px;
$sidebar-left-width: 17rem;
$footer-height: 120px;