@import '../styles/shared.scss';

.page-container{
    margin-top: 10vh;
}

@keyframes dash {
    from {
      stroke-dashoffset: 290;
    }
    to {
      stroke-dashoffset: 0;
    }
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(1)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.wave {
    position: absolute;
    margin-left: $sidebar-left-width;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveLine {
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        #ccc 10px,
        #ccc 20px
    );
    height: 5vw;
}
.waveAnimation .waveLine {
    animation: move_wave 20s linear infinite;
}